.button{
    width: 8%;
    height: 30px;
    padding: 5px;
    background: #002A68;
    color: #fff;
    font-size: 13px;
}
.button:hover{
    text-decoration: none;
    background-color: #0299D6;
    cursor: pointer;
    color: #fff;
}
.textfield{
    width: 50%;
    height: 30px;
    border: 1px dotted #bbb;
    padding-left: 5px;
}
.select{
    width: 100%;
    padding-left: 5px;
    height: 30px;
}
.radio{
}
.errorMessage{
    color: red;
    font-style: italic;
}
.tdLabel{
    width: 10%;
    background: #ccc;    
    color: #111;
    font-weight: bold;
    height: 20px;
    padding: 5px;
}