*{
    margin: 0px
}
#header{
    background-image:url('../img/header-img.jpg');
    width: auto;
    height: 50px;
    margin: 1px;
    color: #4d9200;
    font-weight: bold;
    padding-left: 2%;
}
#menu{
    width: auto;
    height: 34px;
    background: #055;
    margin: 1px;
}
#body{
    width: auto;
    height: auto;
    padding: 1px;
    min-height: 800px;
}
#footer{
    width: auto;
    height: auto;
    padding: 10px 10px;
}
.main{
    margin: 0px 2px;
    background: #eaeaea;
    border: 1px solid #aaa;
}
.new{
    margin-top: 2px;
    margin-bottom: 2px;
}
