*{
    margin: 0px;
    font: 12px arial, verdana, sans-serif;
}
#header{
    background-image: url('../img/header-img.jpg');
    margin: 1px;
    color: #C0DFF3;
    font-weight: bold;
    font-family: Georgia, Serif;
    font-size: large;
    padding: 20px;
}
#menu{
    width: auto;
    height: 34px;
    background: #002A68;
    margin: 1px;
}
#body{
    width: auto;
    height: auto;
    padding: 1px;
    min-height: 800px;
}
#footer{
    width: auto;
    height: auto;
    padding: 10px 10px;
}
.main{
    margin: 0px 2px;
    background: #eaeaea;
    border: 1px solid #aaa;
}
.new{
    margin-top: 10px;
    margin-bottom: 2px;
}
