.drop_menu {
    background:#002A68;
    padding:0;
    margin:0;
    list-style-type:none;
    height:30px;
}
.drop_menu li { 
    float:left; 
    border-right: 1px solid #ddd;
}
.drop_menu li a {
    padding:9px 20px;
    display:block;
    color:#fff;
    text-decoration:none;
    font-size: 13px;
}

/* Submenu */
.drop_menu ul {
    position:absolute;
    left:-9999px;
    top:-9999px;
    list-style-type:none;
}
.drop_menu li:hover { 
    position:relative; 
    background:#0299D6; 
}
.drop_menu li:hover ul {
    left:0px;
    top:32px;
    padding:0px;
}

.drop_menu li:hover ul li a {
    padding:5px;
    display:block;
    width:210px;
    text-indent:15px;
    background-color: #002A68;
    border-top: 1px solid #ddd;
}
.drop_menu li:hover ul li a:hover { 
    background:#0299D6; 
}